.popup__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  color: #000000;
  min-height: 27px;
  padding-bottom: 5px;
  margin: 0 0 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

.popup__input:focus {
  outline: none;
  cursor: text;
}

.popup__input:last-of-type {
  margin: 0;
}

.popup__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #C4C4C4;
  margin: 0;
}

.popup__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #C4C4C4;
  margin: 0;
}

.popup__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #C4C4C4;
  vertical-align: text-top;
  margin: 0;
}

.popup__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #C4C4C4;
  vertical-align: text-top;
  margin: 0;
}

.popup__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #C4C4C4;
  vertical-align: text-top;
  margin: 0;
}
