.footer__author{
  color: #545454;
  font-weight: 400;
font-size: 18px;
line-height: 1.2;
margin: 0;
padding: 66px 0 60px;
}

@media screen and (max-width: 1280px) {
  .footer__author{
    font-size: calc(18vw / 1280 * 100);
    padding: calc(66vw / 1280 * 100) 0 calc(60vw / 1280 * 100);
    }
}

@media screen and (max-width: 845px) {
  .footer__author{
    font-size: calc(18vw / 845 * 100);
    padding: calc(66vw / 845 * 100) 0 calc(45vw / 845 * 100);
    }
}

@media screen and (max-width: 600px) {
  .footer__author{
    font-size: calc(16vw /600 * 100);
    padding: calc(50vw / 600 * 100) 0 calc(40vw / 600 * 100);
    }
}
@media screen and (max-width: 425px) {
  .footer__author{
    font-size: calc(16vw / 425 * 100);
    padding: calc(45vw / 425 * 100) 0 calc(40vw / 425 * 100);
    }
}

@media screen and (max-width: 320px) {
  .footer__author{
    font-size: calc(14vw /320 * 100);
    padding: calc(48vw / 320 * 100) 0 calc(36vw / 320 * 100);
    }
}