.profile__activity {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  color: white;
  grid-column: 3/4;
  grid-row: 2;
  max-width: calc(294vw / 1280 * 100);
  align-self: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .profile__activity {
    font-size: calc(18vw / 1024 * 100);
    max-width: calc(300vw / 1024 * 100);
  }
}

@media screen and (max-width: 425px) {
  .profile__activity {
    font-size: 8px;
    /* min-width: 140px; */
  }
}

@media screen and (max-width: 320px) {
  .profile__activity {
    grid-column: 1;
    grid-row: 4;
    font-size: calc(14vw / 320 * 100);
    line-height: 1.21;
    padding-top: calc(8vw / 320 * 100);
    max-width: 230px;
  }
}
