.profile__add-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  grid-column: -1;
  grid-row: 1/3;
  width: 150px;
  height: 50px;
  background-image: url("../../../images/profile-add-button.svg");
  background-size: contain;
  opacity: 1;
  transition: opacity 0.4s ease;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .profile__add-button {
    width: calc(150vw / 720 * 100);
    height: calc(50vw / 720 * 100);
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 600px) {
  .profile__add-button {
    grid-column: 1;
    grid-row: 6;
    background-image: url("../../../images/profile-add-button-mobile.svg");
    width: 100%;
    height: 50px;
  }
}
