.popup__field-activity {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  color: #000000;
  min-height: 27px;
  padding-bottom: 3px;
  margin: 25px 0 0;
}

.popup__field-activity::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
}

.popup__field-activity::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
}

.popup__field-activity:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
}

.popup__field-activity::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
}

.popup__field-activity::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
}

@media screen and (max-width: 555px) {
  .popup__field-activity {
    margin: 25px 0 0;
  }
}
