.popup__close {
  width: 32px;
  height: 32px;
  position: absolute;
  background: none;border: none;right: -40px;
  top: -40px;
  background-image: url("../../../images/popup-close.svg");
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  background-size: contain;
}

.popup__close:hover {
  opacity: 0.8;
}

@media screen and (max-width: 845px) {
  .popup__close {
    width: calc(32vw / 845 * 100);
    height: calc(32vw / 845 * 100);
    right: calc((-40vw) / 845 * 100);
    top: calc((-40vw) / 845 * 100);
  }
}

@media screen and (max-width: 425px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
