.cards__caption {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: baseline;
  margin-top: 22px;
}

@media screen and (min-width: 1441px) {
  .cards__caption {
    padding: 0 23px;
    margin-top: 28px;
  }
}

@media screen and (max-width: 1441px) {
  .cards__caption {
    padding: 0 calc(20vw / 1280 * 100);
    margin-top: calc(25vw / 1280 * 100);
  }
}

@media screen and (max-width: 845px) {
  .cards__caption {
    padding: 0 calc(20vw / 845 * 100);
    margin-top: calc(22vw / 845 * 100);
  }
}
@media screen and (max-width: 425px) {
  .cards__caption {
    padding: 0 14px;
    margin-top: calc(13vw / 425 * 100);
  }
}

@media screen and (max-width: 320px) {
  .cards__caption {
    padding: 0 20px;
    margin-top: 22px;
  }
}
