.cards__caption {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: baseline;
  margin-top: 22px;
}

@media screen and (min-width: 1441px) {
  .cards__caption {
    padding: 0 23px;
    margin-top: 28px;
  }
}

@media screen and (max-width: 1441px) {
  .cards__caption {
    padding: 0 calc(20vw / 1280 * 100);
    margin-top: calc(25vw / 1280 * 100);
  }
}

@media screen and (max-width: 1024px) {
  .cards__caption {
    padding: 0 16px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 900px) {
  .cards__caption {
    padding: 0 14px;
    margin-top: calc(20vw / 900 * 100);
  }
}

@media screen and (max-width: 600px) {
  .cards__caption {
    padding: 0 20px;
    margin-top: 22px;
  }
}
