.profile__avatar {
  border-radius: 50%;
  grid-column: 1;
  grid-row: 1/3;
  width: 120px;
  height: 120px;
}

@media screen and (max-width: 1024px) {
  .profile__avatar {
    width: calc(120vw / 1024 * 100);
    height: calc(120vw / 1024 * 100);
  }
}

@media screen and (max-width: 320px) {
  .profile__avatar {
    grid-row: 1;
    width: 120px;
    height: 120px;
  }
}
