.cards__image {
  object-fit: cover;
  width: calc(282vw / 1280 * 100);
  height: calc(282vw / 1280 * 100);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-position: top right;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

@media screen and (min-width: 1441px) {
  .cards__image {
    width: 317px;
    height: 317px;
  }
}

@media screen and (max-width: 1024px) {
  .cards__image {
    width: 223px;
    height: 223px;
  }
}

@media screen and (max-width: 720px) {
  .cards__image {
    width: calc(282vw / 720 * 100);
    height: calc(282vw / 720 * 100);
  }
}

@media screen and (max-width: 500px) {
  .cards__image {
    width: 282px;
    height: 282px;
  }
}
