.popup__field-name {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  color: #000000;
  min-height: 27px;
  padding-bottom: 3px;
}

.popup__field-name::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
  margin: 0;
}
.popup__field-name::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
  margin: 0;
}
.popup__field-name:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
  vertical-align: text-top;
  margin: 0;
}
.popup__field-name::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
  vertical-align: text-top;
  margin: 0;
}
.popup__field-name::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
  vertical-align: text-top;
  margin: 0;
}

/*@media screen and (max-width: 845px) {
  .popup__field-name {
     min-height: calc(27vw / 845 * 100);
  }

  .popup__field-name::-webkit-input-placeholder {
    font-size: calc(13vw / 750 * 100);
  }
  .popup__field-name::-moz-placeholder {
    font-size: calc(13vw / 750 * 100);
  }
  .popup__field-name:-ms-input-placeholder {
    font-size: calc(13vw / 750 * 100);
  }
  .popup__field-name::-ms-input-placeholder {
    font-size: calc(13vw / 750 * 100);
  }
  .popup__field-name::placeholder {
    font-size: calc(13vw / 750 * 100);
  }
}
 */