.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  padding: 0 0 28px;
  margin: 0;
}

@media screen and (max-width: 725px) {
  .popup__title {
    font-size: calc(18vw / 600 * 100);
  }
}

@media screen and (max-width: 555px) {
  .popup__title {
    font-size: 18px;
    padding: 0 0 23px;
  }
}